# The ID of your GitHub App
APP_ID=
WEBHOOK_SECRET=development

# The logging level for the bot (info | debug)
LOG_LEVEL=info

# Run the bot in dry mode (true | false)
DRY=false

# Go to https://smee.io/new set this to the URL that you are redirected to.
WEBHOOK_PROXY_URL=
